td{
    background: yellow;
}
.co{

    background: orange;
}
.vb{
    background: chocolate;
}
.purple{
    background: purple;
}
.white{
    background: white;
}
.light{
    background: lawngreen;
}
.red{
    background: red;
}
.blue{
    background:blue;
}
.grey{
    background: gray;;
}
.pink{
    background: pink;;
}
.coral{
    background:coral;
}
